<!DOCTYPE html>
<html>
<head>
        <link href="https://fonts.googleapis.com/css?family=Faster+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oswald:400,500&display=swap" rel="stylesheet">
        
<style>
body{

    background-color:#0099cc;

}
h1{
    font-family: 'Faster One', cursive;
}
h2
{
    font-family: 'Oswald', sans-serif;
}
#page1{
    margin: 200px 35%;
    text-align: center;
    background: lightskyblue;
    padding:20px;
}
button{
    background-color:lavenderblush;
    color: black;
    height: 40px;
    border-radius: 10px;
    border: none;
    width: 150px;
    font-weight: 700;
    text-transform: uppercase;

}
button:hover{
    color: #33ccff;
    background-color: aliceblue;
}
</style>
</head>
<body>
    <div id="page1">
            <h1>E-WALLET</h1>
            <h2>
                Keep record of your personal expenses
            </h2> 
            <h2>
                Split your bills with other users
            </h2>
            <form action="/register" method="GET">
                <button >Get Started</button>

            </form>
            
    </div>
       

       
        
</body>
</html>
