<!DOCTYPE html>
<html>
    <head>
       <style>
           body{
               background-color:azure;

           }
       div {
           margin:  200px 35%;
           text-align: center;
           border: 2px solid #bdc7d8;
           background-color: white;
       }
     input {
        margin: 20px;
        width: 250px;
        border:2px solid #bdc7d8;
        height: 30px;
     }
     button{
         margin: 10px;
         height: 40px;
         width: 150px;
         background-color:#0073e6;
         color: white;
         border-radius: 5px;
         border: none
     }
     #reg{
         background-color: rgb(121,188,100);
     }
      #reg:hover{
        background-color: rgb(87,136,67);
      } 
      button:hover{
        background-color:#1a8cff;
      }
       </style>
    </head>
    <body>
        <div>
            <h1>Sign Up form </h1>

            <form action="/register" method="POST">
             <label for="username">Username</label>   
            <input type="text" name="username" placeholder="username"><br>
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="password" ><br>
            <button id="reg"><strong>Register</strong></button>
            </form>
           <form action="/login">
              <h2>Already an user?</h2>
              <button><strong>Sign In</strong> </button>
        </form>
    </div>
    </body>
</html>
    
   